.purple-stone {
    margin: 280px 0 0 148px;
    max-width: 957px;
    position: absolute;
}

.blond {
    max-width: 1050px;
    position: relative;
    right: 140px;
    top: 115px;
    transform: rotate(-15deg);
}

.blond-beer p {
    bottom: 700px;
    font-size: 28px;
    left: 737px;
    line-height: 53px;
    position: relative;
    width: 470px;
}