.purple-stone {
    display: flex;
    justify-content: center;
}

.purple-stone img {
    max-width: 957px;
    position: absolute;
}

.blond-drink {
    left: 250px;
    max-width: 295px;
    position: relative;
    top: -95px;
    transform: rotate(-15deg);
}

.blond-beer p {
    bottom: 810px;
    font-size: 28px;
    left: 767px;
    line-height: 53px;
    position: relative;
    width: 470px;
}

.blond-beer {
    margin-bottom: 80px;
    height: 1100px;
}