.purple-stone {
    margin: 280px 0 0 148px;
    max-width: 957px;
    position: absolute;
}

.blond-drink {
    left: 230px;
    max-width: 295px;
    position: relative;
    top: 182px;
    transform: rotate(-15deg);
}

.blond-beer p {
    bottom: 530px;
    font-size: 28px;
    left: 737px;
    line-height: 53px;
    position: relative;
    width: 470px;
}

.blond-button {
    bottom: 470px;
    left: 971px;
    position: relative;
}