.dunkel-beer {
    height: 1100px;
    margin-bottom: 80px;
}

.dunkel-stone {
    display: flex;
    justify-content: center;
}

.dunkel-stone img {
    width: 834px;
    position: absolute;
}

.dunkel-drink {
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-name: changeDunkelRotation;
    bottom: 510px;
    left: 830px;
    position: relative;
    transform: rotate(15deg);
    width: 295px;
}

@keyframes changeDunkelRotation {
    0% {
        bottom: 510px;
        transform: rotate(15deg);
    }

    50% {
        bottom: 525px;
        transform: rotate(12deg);
    }

    100% {
        bottom: 510px;
        transform: rotate(15deg);
    }
}

.dunkel-beer p {
    font-size: 28px;
    left: 120px;
    line-height: 53px;
    position: relative;
    text-align: right;
    top: 140px;
    width: 470px;
}