.dunkel-stone {
    display: flex;
    justify-content: center;
}

.dunkel-stone img {
    max-width: 834px;
    position: absolute;
}

.dunkel-drink {
    bottom: 510px;
    left: 830px;
    max-width: 295px;
    position: relative;
    transform: rotate(15deg);
}

.dunkel-beer p {
    font-size: 28px;
    left: 120px;
    line-height: 53px;
    position: relative;
    text-align: right;
    top: 140px;
    width: 470px;
}

.dunkel-button {
    left: 160px;
    position: relative;
    top: 215px;
}