.green-stone {
    display: flex;
    justify-content: center;
}

.green-stone img {
    max-width: 765px;
    position: absolute;
}

.ipa-drink {
    bottom: 35px;
    left: 180px;
    max-width: 295px;
    position: relative;
    transform: rotate(-15deg);
}

.ipa-beer p {
    bottom: 690px;
    font-size: 28px;
    left: 675px;
    line-height: 53px;
    position: relative;
    width: 470px;
}