.ipa-beer {
    height: 1100px;
}

.green-stone {
    display: flex;
    justify-content: center;
}

.green-stone img {
    position: absolute;
    width: 765px;
}

.ipa-drink {
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-name: changeIpaRotation;
    bottom: 35px;
    left: 180px;
    position: relative;
    transform: rotate(-15deg);
    width: 295px;
}

@keyframes changeIpaRotation {
    0% {
        bottom: 35px;
        transform: rotate(-15deg);
    }

    50% {
        bottom: 20px;
        transform: rotate(-12deg);
    }

    100% {
        bottom: 35px;
        transform: rotate(-15deg);
    }
}

.ipa-beer p {
    bottom: 690px;
    font-size: 28px;
    left: 675px;
    line-height: 53px;
    position: relative;
    width: 470px;
}