.personal-nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.languages {
    display: flex;
    font-family: 'Trattatello';
    font-size: 16px;
    font-weight: normal;
    gap: 6px;
    text-transform: uppercase;
}

.languages a {
    text-decoration: none;
}

.languages a:hover {
    color: #97921e;
}

.user-access {
    display: flex;
    gap: 18px;
}