.three-beers {
    display: flex;
    justify-content: center;
    margin-top: 61px;
}

.three-beers img {
    max-width: 502px;
}

.sentence {
    bottom: 450px;
    display: flex;
    justify-content: center;
    position: relative;
}

.sentence img {
    max-width: 964px;
    filter: drop-shadow(3px 5px 4px #000000);
}

.slogan {
    margin-bottom: 87px;
    height: 611px;
}