.l-header {
    background-image: url(../../img/background_header.png);
    background-size: cover;
    background-position: center;
}

.l-presentation {
    background-image: url(../../img/background_presentation.png);
    background-position: center;
    background-size: cover;
    padding-top: 280px;
}

.l-footer {
    background-color: #5c2e12;
}